@model EditExitStrategyViewModel
@inject SignInManager<ApplicationUser> signInManager
@inject IDataStore<Trader> userProfile

@{
    ViewData["Title"] = "Edit";
    Layout = "_NewLayout";
    var id = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
    var currentUser = userProfile.GetAll().FirstOrDefault(u => u.TraderId == Guid.Parse(id));
}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-pen-square text-success"></i>
                </div>
                <div class="ml-3">
                    EDIT EXIT STRATEGY
                    <div class="page-title-subheading"></div>
                    <br />
                    <input hidden value="@ViewBag.id" />
                </div>
            </div>

        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="row">


                <div class="col-sm-12 col-lg-6">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Exit Strategy</h5>
                            <div>
                                <form class="form-inline checklist-form exit-strategy-form">

                                    <div class="col-6 ml-1 position-relative form-group">
                                        <label for="exampleEmail22" class="mr-sm-2">Name: </label>
                                        <input asp-for="ExitStrategyName" class="form-control" style="width: 100%;" required>
                                        <span asp-validation-for="ExitStrategyName" class="text-danger" style="font-size:smaller;"></span>
                                    </div>

                                    <div class="col-6 ml-1 mt-2 position-relative form-group">
                                        <label for="exampleEmail22" class="mr-sm-5">Description:</label>
                                        <textarea asp-for="ExitStrategyDescription" class="form-control" required></textarea>
                                        <span asp-validation-for="ExitStrategyDescription" class="text-danger" style="font-size:smaller;"></span>
                                    </div>

                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-primary mt-2 ml-3">Update</button>
                                        <a asp-controller="home" asp-action="edit" type="button" class="btn btn-success mt-2 ml-2">Go back</a>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

@section Scripts{

    <script>

        var strat = document.getElementById("ExitStrategyName");
        var desc = document.getElementById("ExitStrategyDescription");
        //$(document).ready(function () {

        //    alert("this loads");
        //    //$.get("GetStrategy", function (data, status) {

        //    //    console.log(status);
        //    //    //swal("Congratulations!", "Your trading time has been set!");
        //    //});
        //});

        $('.exit-strategy-form').submit(e => {

            e.preventDefault();
            var model = {
                ExitStrategyName: strat.value,
                ExitStrategyDescription: desc.value
            }
            console.log(model);

            $.post("../EditExitStrategy/@ViewBag.id", model, function (data, status) {
                console.log(data);
                console.log(status);
                swal("Hey @currentUser.FullName!", "Your exit strategy has been updated successfully!", "success");
                //location.reload(true);
            });


        });
    </script>
}

