<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>

    <meta name="description" content=">
    <meta name="msapplication-tap-highlight" content="no">
    <link href="~/UserDashboardStyle/css/style.css" rel="stylesheet" />
   
    <script src="~/UserDashboardStyle/lib/jquery/dist/jquery.js"></script>
    <script src="~/UserDashboardStyle/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/UserDashboardStyle/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>

<body> 
   <!--Main Content goes here-->
          @RenderBody()
    <!-- End Main Content-->
    <script src="~/UserDashboardStyle/UserDashboardStyle/assets/scripts/main.d810cf0ae7f39f28f336.js"></script>
</body>

</html>
