
@{

    ViewData["Title"] = "Analysis Page";
    Layout = "_NewLayout";
}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-sitemap"></i>
                </div>
                <div>
                    Trading Analysis
                    <div class="page-title-subheading">Mans not hot!!</div>
                </div>
            </div>
         
        </div>
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Time Of Trade</th>
                        <th>Pair</th>
                        <th>Strategy</th>
                        <th>Trade Status</th>
                        <th></th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12:00AM - 16:00PM</td>
                        <td>CAN/USD</td>
                        <td>Art of War</td>
                        <td><span class="text-success">Win</span></td>
                        <td> <a class="btn btn-outline-primary">Edit</a><a class="btn btn-outline-light">View</a><a class="btn btn-outline-danger">Delete</a></td>

                    </tr>
                    <tr>
                        <td>12:00AM - 16:00PM</td>
                        <td>CAN/USD</td>
                        <td>Art of War</td>
                        <td><span class="text-success">Win</span></td>
                        <td> <a class="btn btn-outline-primary">Edit</a><a class="btn btn-outline-light">View</a><a class="btn btn-outline-danger">Delete</a></td>

                    </tr>
                    <tr>
                        <td>12:00AM - 16:00PM</td>
                        <td>CAN/USD</td>
                        <td>Art of War</td>
                        <td><span class="text-danger">Lose</span></td>
                        <td> <a class="btn btn-outline-primary">Edit</a><a class="btn btn-outline-light">View</a><a class="btn btn-outline-danger">Delete</a></td>

                    </tr>
                    <tr>
                        <td>12:00AM - 16:00PM</td>
                        <td>CAN/USD</td>
                        <td>Art of War</td>
                        <td><span class="text-dark">Breakeven</span></td>
                        <td> <a class="btn btn-outline-primary">Edit</a><a class="btn btn-outline-light">View</a><a class="btn btn-outline-danger">Delete</a></td>

                    </tr>
                    <tr>
                        <td>12:00AM - 16:00PM</td>
                        <td>CAN/USD</td>
                        <td>Art of War</td>
                        <td><span class="text-warning">Missed</span></td>
                        <td> <a class="btn btn-outline-primary">Edit</a><a class="btn btn-outline-light">View</a><a class="btn btn-outline-danger">Delete</a></td>

                    </tr>

                </tbody>
             
            </table>
        </div>
    </div>
</div>